# Okta OIDC secrets - edit with: sops config/okta-secrets.sops.yaml
okta_org_name: "your-okta-org-name-here"
okta_private_key_id: "your-okta-private-key-id-here"
okta_private_key: "your-okta-private-key-here"
okta_discovery_url: "your-discovery-url-here"
okta_client_id: "your-client-id-here"
okta_client_secret: "your-client-secret-here"

# ensure your sops encryption method is setup in .sops.yaml
# then, encrypt this file with `sops -e -i config/okta-secrets.sops.yaml`
# and use it for your terraform setup with the sops provider
